click==6.7
Flask==1.1.2 
flask_cors 
flask_ngrok 
opencv-python-headless
keras == 2.6.0
numpy == 1.19.2
pygame == 2.0.0
tensorflow-cpu
gunicorn
itsdangerous==0.24
Jinja2>=2.10.1
Werkzeug>=0.15
imutils==0.5.3

